/*mobile devices*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #discovery-icon,
    #analyze-icon,
    #define-icon,
    #concepting-icon,
    #validating-icon,
    #visual-design-icon,
    #planning-icon,
    #building-icon,
    #deply-icon,
    #testing-icon {
        width: 100%;
        height: 200px;
    }
    #brainstorming-icon,
    #low-fedility-icon,
    #user-journey-icon,
    #user-workshop,
    #heuristic-analysis,
    #task-analysis,
    #taxonomy,
    #ia {
        width: 75%;
        height: 278px;
        margin-left: auto;
        margin-right: auto;
    }
    #top-image1 {
        width: 100%;
        height: 500px;
    }
    #top-image1 {
        background: url('/img/research-laptop.png') no-repeat;
        background-size: cover;
    }
    #discovery-icon {
        background: url('/svg/discovery-icon-wireframe.svg') center no-repeat;
        background-size: 100%;
    }
    #analyze-icon {
        background: url('/svg/analyze-icon-wireframe.svg') 50% 50% no-repeat;
        background-size: 100%;
    }
    #define-icon {
        background: url('/svg/define-icon-wireframe.svg') center center no-repeat;
        background-size: 100%;
    }
    .arrow-top {
        background: url('/svg/arrow-top.svg') left top no-repeat;
        background-size: 100%;
        margin-top: 0px;
    }
    #arrow {
        background: url('/svg/arrow-01.svg') top center no-repeat;
        background-size: contain;
        margin-top: -140px;
        height: 100%;
        width: 100%;
    }
    #arrow2 {
        background: url('/svg/arrow-02-green.svg') top center no-repeat;
        background-size: 100%;
        margin-top: -150px;
    }
    #laptop-bkgrd {
        background: url('/img/laptop-bkgrd.png') center center no-repeat;
        background-size: contain;
        min-height: 500px;
    }
    #user-workshop {
        background: url('/svg/user-workshop.svg') 50% 50% no-repeat;
        background-size: contain;
    }
    #heuristic-analysis {
        background: url('/svg/heuristic_analysis.svg') 50% 50% no-repeat;
        background-size: contain;
    }
    #task-analysis {
        background: url('/svg/task-analysis.svg') 50% 50% no-repeat;
        background-size: contain;
    }
    #taxonomy {
        background: url('/svg/taxonomy.svg') 50% 50% no-repeat;
        background-size: contain;
    }
    #ia {
        background: url('/svg/ia.svg') 50% 50% no-repeat;
        background-size: contain;
    }
    #concepting-icon {
        background: url('/svg/concepting-icon-wireframe.svg') center no-repeat;
        background-size: cover;
    }
    #brainstorming-icon {
        background: rgba(197, 201, 205, 0.1) url('/svg/brainstorming-icon.svg') center no-repeat;
        background-size: 295px 268px;
    }
    #low-fedility-icon {
        background: rgba(197, 201, 205, 0.1) url('/svg/low-fedility-icon.svg') center no-repeat;
        background-size: 295px 268px;
    }
    #user-journey-icon {
        background: rgba(197, 201, 205, 0.1) url('/svg/user-journey-icon.svg') center no-repeat;
        background-size: 295px 268px;
    }
    #validating-icon {
        background: url('/svg/validating-icon-wireframe.svg') center center no-repeat;
        background-size: cover;
    }
    #visual-design-icon {
        background: url('/svg/visual-design-icon-wireframe.svg') center center no-repeat;
        background-size: cover;
    }
    #planning-icon {
        background: url('/svg/planning-icon-wireframe.svg') center center no-repeat;
        background-size: 100%;
    }
    #building-icon {
        background: url('/svg/building-icon-wireframe.svg') center center no-repeat;
        background-size: 100%;
    }
    #deply-icon {
        background: url('/svg/deploy-icon-wireframe.svg') center center no-repeat;
        background-size: 100%;
    }
    #testing-icon {
        background: url('/svg/testing-icon-wireframe.svg') center center no-repeat;
        background-size: 100%;
    }
    #ux-research-icon-large,
    #ux-design-icon-large,
    #ux-dev-icon-large,
    #ux-usability-icon-large {
        width: 100%;
        height: 150px;
    }
    #ux-research-icon-large {
        background: url('../svg/ux-research-icon-full.svg') center center no-repeat;
        background-size: cover;
    }
    #ux-design-icon-large {
        background: url('../svg/ux-design-icon-full.svg')center center no-repeat;
        background-size: cover;
    }
    #ux-dev-icon-large {
        background: url('../svg/ux-development-icon-full.svg')center center no-repeat;
        background-size: cover;
    }
    #ux-usability-icon-large {
        background: url('../svg/usability-icon-full.svg') center center no-repeat;
        background-size: cover;
    }
    .icon1 {
        background: url('../svg/ux-research-icon-01.svg')-30px no-repeat;
        background-size: 200px 200px;
    }
    .icon2 {
        background: url('../svg/ux-design-icon-01.svg')-30px no-repeat;
        background-size: 200px 200px;
    }
    .icon3 {
        background: url('../svg/ux-development-icon-03.svg')-30px no-repeat;
        background-size: 200px 200px;
    }
    .icon4 {
        background: url('/svg/usability-icon-04.svg')-30px no-repeat;
        background-size: 200px 200px;
    }
}